<% if (user) { %>
    <button id="logoutButton">Logout</button>
    <hr>
    <div class="row">
        <fieldset class="col-1">
            <form id="uploadForm" enctype="multipart/form-data">
                <label>Select File: <input type="file" name="file" required></label>
                <br><br>
                <label>File password: <input type="text" name="password" placeholder="password or live empty"></label>
                <br><br>
                <button type="submit">Upload</button>
            </form>
        </fieldset>
    </div>

    <h2>File List</h2>
    <ul id="fileList"></ul>
<% } else { %>
    <div class="row">
        <fieldset class="col-1">
            <legend>Login</legend>
            <form id="loginForm">
                <label>Email: <input type="email" name="email" required></label><br>
                <label>Password: <input type="password" name="password" required></label><br><br>
                <button type="submit">Login</button>
            </form>
            <p id="loginError" class="error hide">Invalid credentials</p>
        </fieldset>

        <fieldset class="col-1">
            <legend>Signup</legend>
            <form id="signupForm">
                <label>Username: <input type="text" name="username" required></label><br>
                <label>Email: <input type="email" name="email" required></label><br>
                <label>Password: <input type="password" name="password" required></label><br><br>
                <button type="submit">Signup</button>
            </form>
        </fieldset>
    </div>
<% } %>

<script src="/js/index.js" type="application/javascript"></script>